:root {
    --primary-color: #3d227f;
    --white: #fff;
    --background-home: #f5f7f9;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: var(--white);
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--white);
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
body{
    background: var(--background-home);
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* SESSION NAV */
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom, #6cb2eb, #69ebca);
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
    }


.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}
.navbar {
    background: var(--primary-color);
}
.hamburguer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: space-between;
    position: relative;
    text-indent: -9999px;
    width: 135px;
}

    .hamburguer:before, .hamburguer:after,
    .hamburguer span:before,
    .hamburguer span:after {
        background-color: white;
        border-radius: 15px;
        content: '';
        display: block;
        height: 12.5%;
        opacity: 1;
        position: absolute;
        transition: ease-in-out all .15s;
        width: 100%;
    }

    .hamburguer:before {
        top: 8%;
    }

    .hamburguer:after {
        bottom: 8%;
    }

    .hamburguer span:before,
    .hamburguer span:after {
        top: 50%;
        transform: translateY(-50%);
    }

    .hamburguer.-active:before, .hamburguer.-active:after {
        opacity: 0;
    }

    .hamburguer.-active:before {
        top: -5px;
    }

    .hamburguer.-active:after {
        bottom: -5px;
    }

    .hamburguer.-active span:before {
        transform: rotate(45deg);
    }

    .hamburguer.-active span:after {
        transform: rotate(-45deg);
    }

    #sidebarCollapse {
        color: white;
        display: block;
        width: 22px;
        height: 23px;
    }

/* END SESSION NAV */

/*SESSION SIDEBAR*/
#sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-top: 47px;
}

    #sidebar.active {
        left: 0;
    }

    #sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #sidebar ul li {
            padding: 10px;
            position: relative;
            color: #333;
            cursor: pointer;
        }

            #sidebar ul li:hover {
                background-color: #e9ecef;
            }

    #sidebar .submenu ul {
        display: none;
        position: relative;
    }

    #sidebar .submenu.active ul {
        display: block;
    }

@media (max-width: 768px) {
    #sidebar {
        margin-top: 85px;
    }
}
/*END SESSION SIDEBAR*/