@page "/"
@using Soou_Erp_DashBoard.Infraestruct
@inject NavigationManager navigation
<div>
    <Cabecalho ID="nome"></Cabecalho>
</div>
<div>
    <center>
        <img src="Images/graficovendas.png" />
    </center>
</div>
<div>
    <center>
        <img src="Images/graficoPagar.png" />
    </center>
</div>

