@inject NavigationManager navigation

@page "/vendas"
<div>
    <Cabecalho ID="nome">Vendas</Cabecalho>
</div>

@code {


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
